@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');

:root {
  /* Sweepstouch primary */
  --primary-color: #ff0f6e;
  --secondary-color: #ece3df;
  --text-color-dark: #333;
  --text-color-light: #fff;
  --text-color-medium: #3a3a3a;
  --button-hover-color: #c10061;
}
